{% extends "ABBundle::layout.html.twig" %}

{% block title %}Apie JAV etapą{% endblock %}
{% block content %}
    <div class="panel-shadow clearfix">
    	
    	<div class="text-block col-md-6 col-xs-12 l-float">
    	<h3>Stojimas į JAV</h3>
		<p>Universitetai Amerikoje nuo seno garsėjo vardų prestižiškumu, aukštais akademiniais rodikliais, o pastaruoju metu pradėjo perdėtai bauginti jaunus, ypač užsieniečius, gabius moksleivius aukštomis kainomis bei žema priėmimo statistika. “Academic Buddy JAV” projekto tikslas yra sugriauti šiuos ir kitus mitus, supažindinti stojančiuosius iš Lietuvos su paraiškų teikimo eiga, reikalavimais, kontekstu. Programa leidžia būsimiems studentams rasti mentorių su panašiais akademiniais interesais ir reikiama patirtimi, kuris patartų įvairiais klausimais: nuo tinkamo universiteto paieškos iki finansinių rūpesčių ir motyvacinių rašinių rašymo. JAV yra šalis, kur kiekvienas – menininkas, humanitaras ar mokslininkas – gali įgyti pasaulinės klasės išsilavinimą. Taip pat tai yra šalis, kurioje studijuojantis meno istorikas gali tapti biochemiku, o politologas – teologu. Mes tikimės kuo daugiau žmonių suteikti šias galimybes – plėsti akiratį, pažinti pasaulį ir atrasti save.</p>
		</div>

		<div class="text-block col-md-6 col-xs-12 r-float">
		<h3>Universitetai</h3>
		<p>Visi iš virš 20 “Academic Buddy USA” mentorių mokosi aukščiausiai reitinguojamuose <i>liberaliųjų menų</i> koledžuose bei geriausiuose JAV universitetuose, įskaitant net 6 iš 8 prestižinės <i>Ivy League</i> grupės narių. Projekte taip pat dalyvauja mentoriai iš šių JAV universitetų satelitinių koledžų užsienyje. </p>

		<p>Visų projekte atstovaujamų universitetų sąrašas:
			<ul>
				<li>Brown University</li>
				<li>Dartmouth College</li>
				<li>Harvard University</li>
				<li>Massachusetts Institute of Technology</li>
				<li>New York University in Abu Dhabi</li>
				<li>Princeton University</li>
				<li>University of Chicago</li>
				<li>University of Pennsylvania</li>
				<li>Williams College</li>
				<li>Yale University</li>
				<li>Yale-NUS College</li>
			</ul>
		</p>
		</div>


		<div class="text-block col-md-6 col-xs-12 l-float">
		<h3>Mitai</h3>
		<p>Kaip ir minėjome, pradedami šį projektą mes siekiame įveikti du didžiausius mitus apie bakalauro studijas Jungtinėse Amerikos Valstijose:
		<ol>
		<li><strong>Studijos JAV yra ypač brangios.</strong></li>
		<p>Nors studijų kaina “ant popieriaus” yra tikrai aukšta (privačiuose universitetuose ji neretai perkopia 60 tūkst. dolerių per metus), dauguma geriausių aukštųjų mokyklų gali suteikti dosnią finansinę paramą. Dažniausiai universitetai, nusprendę priimti aplikantą atsižvelgę į jo šeimos finansines aplinkybes, padengia beveik 100% kainos, kurios neišgali sumokėti šeima. Tuo tarpu kelios JAV aukštosios mokyklos sprendimus dėl aplikacijų priima net nežinodamos kandidato finansinė padėties, taip garantuodamos, jog labiausiai nusipelnę moksleiviai - nepriklausomai nuo finansinių galimybių - išnaudotų savo potencialą. Tokiu būdu absoliuti dauguma “Academic Buddy USA” mentorių už studijas sumoka mažiau, nei mokėtų Jungtinėje Karalystėje ar kitose ES šalyse. </p>

		<li><strong>Įstoti į JAV yra pernelyg sunku.</strong></li>

		<p>Stojimo į JAV universitetus procesas kardinaliai skiriasi nuo egzistuojančio JK, ar tuo labiau Lietuvoje. Be akivaizdaus reikalavimo pagrįsti akademinius gabumus aukštais pažymiais, stojant į JAV būtina laikyti papildomus standartizuotus testus (SAT arba ACT), rašyti esė, pabrėžiančias kandidato asmenines savybes. Taip pat rekomenduojama turėti nemažą popamokinių veiklų bagažą ir t.t. Ir nors sėkmingų užsienio aplikantų procentas yra mažesnis, nei vietinių kandidatų, holistinis aplikacijų pobūdis lemia tai, jog egzistuoja ne vienas būdas ženkliai pagerinti įstojimo šansus. Ankstyvas ruošimasis standartizuotiems testams, bendras aplikacijos krypties formavimas ir esė rašymas bei perrašymas ženkliai padidina moksleivio šansus įstoti į geriausias JAV aukštasias mokyklas. Būtent todėl minėtų universitetų esami ar buvę studentai lietuviai jungiasi prie “Academic Buddy USA” projekto ir savo pavyzdžiu bei pagalba sugriaus šį mitą.</p>
		</p>
		</div>

		<div class="text-block col-md-6 col-xs-12 l-float">
		<h3>Projekto eiga</h3>
		<p>Daugiau informacijos apie registraciją bei JAV etapo eigą - jau greitai.</p>

		<p>Klausimus apie JAV etapą galite užduoti <a href="https://www.facebook.com/AcademicBuddy">Akademinio bičiulio „Facebook” puslapyje</a> arba JAV etapo el. paštu: <a href="mailto:academicbuddyusa@gmail.com">academicbuddyusa@gmail.com</a></p>
		</div>
    </div>
{% endblock %}
