{% extends "ABBundle::layout.html.twig" %}

{% block title %}Apie Academic Buddy{% endblock %}
{% block content %}
    <div class="panel-shadow clearfix">
        <div class="text-block col-md-6 col-xs-12 l-float">
        <h3>Trumpai apie mus</h3>
        <p>„Akademinis bičiulis” (angl. - „Academic buddy”) - tai savanoriška studentų iniciatyva įkurta ir organizuojama Jungtinės Karalystės universitetuose studijuojančių lietuvių. Mes siekame dalintis savo patirtimi ir padėti gabiems bei motyvuotiems Lietuvos jaunuoliams siekti aukštojo išsilavinimo geriausiuose pasaulio universitetuose. Šiuo metu mes orientuojamės į Oksfordo, Kembridžo, ir kitus Jungtinėje Karalystėje esančius universitetus. 2016 m. prie mūsų komandos prisijungė ir lietuvių studentai iš JAV.</p>
        <p>Projektas pagrįstas mentorystės principu. Kiekvienam į „Akademinio bičiulio” projektą atrinktam moksleiviui yra paskiriamas atitinkamos studijų krypties mentorius - esamas arba buvęs lietuvių studentas Jungtinės Karalystės universitete. Mentoriai padeda moksleiviams įvairiais klausimais apie studijas ir gyvenimą užsienyje bei konsultuoja stojimo proceso metu. „Akademinio bičiulio” komanda taip pat rengia motyvacinių laiškų („Personal Statement") rašymo dirbtuves, į Oksbridžo universitetus stojančius moksleivius mokome pasiruošti testams bei interviu.</p>
        </div>

        <div class="text-block col-md-6 col-xs-12 r-float">
            <h3>Istorija</h3>
            <p>Projektas startavo 2012 m. vasarą Kembridžo universiteto lietuvių bendrijos (CULS) iniciatyva, o 2013 - 2014 mokslo metais sparčiai plėtėsi, į organizatorių gretas oficialiai įsijungus ir Oksfordo universiteto lietuvių bendrijai (OULS) bei užmezgus ryšius su giminingu „LT Big Brother" mentorystės projektu. 2012 - 2013 m. į projektą užsiregistravo daugiau nei 100 moksleivių iš Lietuvos, kuriems sutiko padėti virš šimto mentorių iš geriausių JK universitetų.</p>
            <p>Projekto eigoje vyko trys susitikimai, intensyvus mentorių bei moksleivių bendravimas ir konsultavimas el. paštu ir tiesiogiai, pasiruošimas stojimo procesams. Daugiau nei trečdalis projekto dalyvių, bandžiusiųjų stoti į Oksbridžą, gavo pakvietimus ten studijuoti. Taip pat daugelis dalyvių įstojo į Londono, Edinburgh'o, Durham'o, Warwick'o ir kitus žymius universitetus. Balandžio mėnesį vykęs baigiamasis renginys Kaune pažymėjo sėkmingą pirmųjų metų pabaigą.</p>
            <p>Tęsdami projektą 2013-2014 metais, kooperuojantis CULS ir OULS, sulaukėme dar geresnių rezultatų.</p>
            <p>2015 m. į interviu Kembridže bei Oksforde buvo pakviesti 81% visų projekto pabaigoje atsiliepusių „Academic Buddy" dalyvių, ir net 48% gavo pasiūlymus studijuoti šiuose prestižiniuose universitetuose (2014 m. - 42%, 2013 m. - 33%). ES vidurkis sėkmingų aplikacijų yra tik 13% Kembridže ir 11% Oksforde bakalauro lygyje..</p>
            <p>Viliamės ir toliau perduoti savo įgytą patirtį stojant į šiuos ir kitus prestižinius universitetus, taip pat įtraukdami ankstesnius „Academic Buddy" dalyvius ir taip kurdami vieni kitiems padedančią bendruomenę.</p>
            <p>2014 mokslo metais „Academic Brother" pakeitė savo pavadinimą į „Academic Buddy" ir įgijo nuosavą, nuo OULS ir CULS organizacijų nepriklausomą vykdomąjį komitetą. Turėdamas žmonių, paskiriančių savo laiką projektui, komandą, „Academic Buddy" tikisi būti kaip niekada profesionalus.</p>
            <p>2016 m. „Academic Buddy“ žengė į Jungtines Amerikos Valstijas! Lietuvių studentai iš Harvardo prisijungė prie mūsų komandos ir yra pasiruošę padėti ambicingiems moksleiviams sėkmingai aplikuoti į Ivy League bei kitus geriausiai vertinamus JAV universitetus.</p>
        </div>

        <div class="text-block col-md-6 col-xs-12 l-float">
            <h3>Apie projektą: tikslai ir veiklos</h3>
            <h5 class="centered">Tikslai</h5>
            <ol class="c">
                <li>užtikrinti, kad gabiausi Lietuvos moksleiviai, stodami į užsienio universitetus, turėtų galimybę įgyti aukščiausios kokybės akademinį išsilavinimą, atitinkantį jų potencialą.</li>
                <li>burti lietuvius studentus ir mokslininkus į platų akademinį tinklą.</li>
            </ol>
            
            <h5 class="centered">Veiklos</h5>
            <ol class="d">
                <li>informacijos apie studijų galimybes geriausiuose JK universitetuose sklaida;</li>
                <li>asmeninės ir bendruomeninės moksleivių konsultacijos apie stojimų tvarką, pasiruošimą, gyvenimą ir mokslą JK;</li>
                <li>susitikimai, kurių metu pristatomi universitetai, kursai, koledžai, jų tvarka ir ypatybės;</li>
                <li>stovykla (Oksbridžo etapas), kurios metu vyksta pasirengimas interviu, testams, motyvacinio laiško (<em>Personal Statement</em>) tobulinimas, asmeninis darbas su mentoriais.</li>
            </ol>
        </div>

        <div class="text-block col-md-6 col-xs-12 l-float">
            <h3>Ateities perspektyvos</h3>
            <p>Projektas vyksta jau penkerius metus, ir virto kasmetine iniciatyva. Kitais metais planuojama plėstis į vėlesnes studijų pakopas ir į kitas šalis, bendradarbiaujant su jų universitetuose esančiomis lietuvių bendrijomis.</p>
        </div>

        <div class="text-block col-md-6 col-xs-12 r-float">
            <h4>Projekto organizatoriai</h4>
            <div>
                <a href="http://www.cu-ls.org" target="_blank">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/CULS-EN-version.jpg') }}" alt="Cambridge University Lithuanian Society" style="max-width: 230px" /></a>
                <br />
                <a href="http://www.ou-ls.org" target="_blank">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/OULS-logo-3.png') }}" alt="Oxford University Lithuanian Society" style="max-width: 220px" /></a>
            </div>
            <h4>Projekto partneriai</h4>
            <div>
                <a href="http://www.ltbigbrother.com/apie-projekta/">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/logoLTBB.png') }}" alt="LT Big Brother" style="max-width: 230px" /></a>
                <a href="http://vischool.lt/">
                    <img class="org-logo" src="{{ asset('bundles/ab/images/vis-logo.png') }}" alt="Vilnius International School" style="max-width: 212px"></a>
            </div>
        </div>

    </div>
{% endblock %}
