{% extends "ABBundle::layout.html.twig" %}
{% block title %}Apie{% endblock %}

{% block content %}
    <div class="panel-shadow">
		<h3><strong>Jūs irgi galite prisidėti</strong> prie sėkmingo <em>Academic Buddy</em> projekto įgyvendinimo suteikdami finansinę paramą!</h3>
		<br />
		
		<h4>Paramos gavėjas:</h4>
		<p style="padding-left: 10px;">
		<strong>Asociacija "<em>Kembridžo universiteto lietuvių bendrija</em>"</strong>
		<br />
		Juridinio asmens kodas          <strong>302856918</strong>
		<br />
		Paramos gavėjas nuo             2012.09.07
		<br />
		</p>
		<br />
		
		<img title="Paramos plaktas" src="{{ asset('bundles/ab/images/parama.jpg') }}" width="100%"/>
		
		<br /> <br />
		
		<h4>Paramos būdai:</h4>
		<p style="padding-left: 10px; font-weight:bold;">- 2 proc. parama</p>

		<p style="padding-left: 30px;"><strong>Kaip užpildyti deklaraciją?</strong> Tai užtruks tik kelias minutes!</p>
		<p style="padding-left: 30px;">1. Prisijunkite prie EDS per savo banką ar naudodamiesi el. parašu:
		<a href="http://deklaravimas.vmi.lt/lt/Pradinis_Prisijungimo_puslapis/Prisijungimasperisorinessistemas.aspx">http://deklaravimas.vmi.lt/lt/Pradinis_Prisijungimo_puslapis/Prisijungimasperisorinessistemas.aspx</a></p>
		<p style="padding-left: 30px;">2. Užpildykite deklaraciją pagal šią paprastą instrukciją:
		<a href="http://epilietis.eu/index.php/mokymas/e-paslaugos/viesosios-paslaugos/e-deklaravimas/114-prasymas-pervesti-iki-2-procentu-pajamu-mokescio">http://epilietis.eu/index.php/mokymas/e-paslaugos/viesosios-paslaugos/e-deklaravimas/114-prasymas-pervesti-iki-2-procentu-pajamu-mokescio</a></p>

		<p style="padding-left: 10px; font-weight:bold;">- Kiti paramos teikimo būdai</p>
		<p style="padding-left: 30px;">Dėl kitų paramos būdų prašome kreiptis aderesu <strong>academic.buddy@gmail.com</strong></p>

		<br />
		<p style="padding-left: 10px;"><strong style="font-size: 1.17em; line-height: 19px;"><span style="text-decoration: underline;">Visos</span> surinktos lėšos bus skirtos <em>Academic Buddy</em> projekto išlaidoms padengti!</strong></p>
    </div>
{% endblock %}
