{% extends "ABBundle::layout.html.twig" %}

{% block stylesheets %}
  <link href="{{ asset('bundles/ab/css/select2/select2.min.css') }}" rel="stylesheet" />
  {% stylesheets 'bundles/ab/css/groups.css' filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block content %}
  <div class="clearfix">
    <div id="groups-header" class="row">
      <h2 class="col-sm-6">Grupių sudarymas</h2> 
      <div class="group-control-buttons col-sm-6">
        <button id="new-group-btn" type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-plus"></span> Nauja grupė
        </button>
      </div>
    </div>
    <div id="groups-container" class="clearfix">
    </div>
    <div id="groups-footer" class="row">
      <div class="group-control-buttons col-sm-12">
          <button id="send-group-mail-btn" type="button" class="btn btn-warning">
            <span class="glyphicon glyphicon-envelope"></span> Išsiųsti laiškus grupėms
          </button>
          <button id="inform-unsucc-btn" type="button" class="btn btn-warning">
            <span class="glyphicon glyphicon-envelope"></span> Išsiųsti laiškus neatrinktiems moksleiviams
          </button>
        </div>
      </div>
  </div>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('bundles/ab/js/select2/select2.min.js') }}"></script>
  {% javascripts '@ABBundle/Resources/public/js/groups.js' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
