{% extends "ABBundle::layout.html.twig" %}

{% block stylesheets %}
  <link href="{{ asset('bundles/ab/css/select2/select2.min.css') }}" rel="stylesheet" />
  {% stylesheets 'bundles/ab/css/groups.css' filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block content %}
  <div id="groups-container" class="clearfix">
    <h2>Grupių sudarymas</h2> 
    <button id="new-group-btn" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span> Nauja grupė
    </button>
  </div>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('bundles/ab/js/select2/select2.min.js') }}"></script>
  {% javascripts '@ABBundle/Resources/public/js/groups.js' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
