Sveikas(-a),
<br/><br/>
Sveikiname! Tavo registracijos anketa buvo patvirtinta. Pranešime, kai tavo anketa bus patalpinta academicbrother.lt puslapyje.
<br/><br/>
Iki gruodžio pabaigos projekto veikla ir mentorystė vyks nuotoliniu būdu: asmeniniais laiškais bei diskusijomis grupėse. Gruodžio pabaigoje Vilniuje bus organizuojamas bendras susitikimas, kurio metu kviesime pristatyti savo universitetą bei pakonsultuoti moksleivius Personal Statement'o rašymo klausimais, taip pat susipažinti ir pabendrauti su kitais mentoriais.
<br/><br/>
Kol kas tiek. Jei kils klausimų, rašyk mums academic.brother@gmail.com, arba paskaityk "Apie projektą" skiltį. O dabar kviečiame prisijungti prie AB diskusijų grupių ir užsiprenumeruoti jų naujienas!<br>
<ul>
<li>Facebook grupė: <a href="https://www.facebook.com/groups/1430196147193777/"></a>https://www.facebook.com/groups/1430196147193777/</li>
<li>Google grupė: <a href="https://groups.google.com/forum/#!forum/academic-brother-diskusiju-grupe/">https://groups.google.com/forum/#!forum/academic-brother-diskusiju-grupe/</a></li>
<li>El. laiškai: tavo el. paštas bus matomas kitiems projekto dalyviams, kurie galės tau parašyti asmeniškai.</li>
<li>Susitikimas: daugiau informacijos persiųsime gruodžio mėn.</li>
</ul>
<br/><br/>
sėkmės mentorystėje -
<br/>
Academic Brother komanda