{% block subject %}Academic Buddy: tavo registracija patvirtinta!{% endblock %}
{% block body_html %}
Sveikiname, jūs priimtas į „Academic Buddy“ projektą! 
<br/><br/>
Mūsų sistemoje buvo sukurta Tavo paskyra:
<br/><br/>
Prisijungimo vardas: {{ email }}
<br/>
Slaptažodis: {{ password }}<br/>
<br />
<br />
Prisijungęs(-usi) prie <a href="{{ url('fos_user_security_login') }}">puslapio</a> aukščiau nurodytais duomenimis, galėsi peržiūrėti detalius mentorių aprašymus ir parašyti jiems asmeninį laišką!. Kviečiame nebijoti jau dabar rašyti mentoriams.<br/><br/>

Iki rugpjūčio 10 d. 23:59. užpildykite šią <a href="http://goo.gl/forms/hIrdJ4HEQC">anketą (http://goo.gl/forms/hIrdJ4HEQC)</a>, kurioje galėsi išsirinkti iki trijų mentorių, iš kurių vienas bus tau paskirtas bendradarbiauti.<br/><br/>

Taip pat kviečiame prisijungti prie Facebook grupės ir dalyvauti bendrose diskusijose, dalintis mintimis su kitais moksleiviais ir mentoriais: <a href="https://www.facebook.com/groups/1581352808826963/">https://www.facebook.com/groups/1581352808826963/</a>
<br/><br/>
Jei kiltų klausimų, drąsiai rašyk mums
<a href="mailto:academic.buddy@gmail.com" target="_top">academic.buddy@gmail.com</a>
<br/><br/>
Sėkmės ir produktyvaus bendravimo!<br/>
Academic Buddy komanda
{% endblock %}
