{% block subject %}Academic Buddy: tavo registracija patvirtinta!{% endblock %}
{% block body_html %}
Sveikiname, jūs priimtas į „Academic Buddy“ projektą! 
<br/><br/>
Mūsų sistemoje buvo sukurta Tavo paskyra:
<br/><br/>
Prisijungimo vardas: {{ email }}
<br/>
Slaptažodis: {{ password }}<br/>
<br />
<br />
Prisijungęs(-usi) prie <a href="{{ url('fos_user_security_login') }}">puslapio</a> aukščiau nurodytais duomenimis, galėsi peržiūrėti detalius mentorių aprašymus ir parašyti jiems asmeninį laišką!. Kviečiame nebijoti jau dabar rašyti mentoriams (tačiau, kita vertus, gerbti jų laiką klausiant vien prasmingų klausimų).<br/><br/>
Taip pat raginame iki rugpjūčio 5 d. užpildyti šią <a href="http://goo.gl/forms/op0NOx0bz5">anketą</a>, kurioje galėsi išsirinkti iki trijų mentorių, iš kurių vienas bus tau paskirtas bendradarbiauti.<br/><br/>
Rugsėjo 5–6 d., VU Filologijos fakultete (Universiteto g. 5, Vilnius) vyks Oksbridžo etapo parengiamoji stovykla, į kurią kviečiame mielai atvykti. Renginyje galėsi gyvai susipažinti su savo mentoriumi, aptarti tau rūpimus stojimo klausimus, išsimėginti jėgas surežisuotame stojimo interviu ir aptarti savo "personal statement". Tad labai raginame per rugpjūčio mėnesį gerai apgalvoti savo personal statement detales ir į patį renginį atsinešti jau parengtą tekstą. Jeigu dalyvausi renginyje, prašome pažymėti <a href="https://www.facebook.com/events/487840234727702/">čia</a>. Daugiau informacijos apie renginį atsiųsime artėjant rugsėjui.<br/><br/>

Taip pat kviečiame prisijungti prie Facebook grupės ir dalyvauti bendrose diskusijose, dalintis mintimis su kitais moksleiviais ir mentoriais: <a href="https://www.facebook.com/groups/1673849769517973/">https://www.facebook.com/groups/1673849769517973/</a>
<br/><br/>
Jei kiltų klausimų, drąsiai rašyk mums
<a href="mailto:academic.buddy@gmail.com" target="_top">academic.buddy@gmail.com</a>
<br/><br/>
Sėkmės ir produktyvaus bendravimo!<br/>
Academic Buddy komanda
{% endblock %}
