{% block subject %}Academic Buddy: tavo registracija patvirtinta!{% endblock %}
{% block body_html %}
Sveikiname!
<br/><br/>
Mūsų sistemoje buvo sukurta Tavo paskyra:
<br/><br/>
Prisijungimo vardas: {{ email }}
<br/>
Slaptažodis: {{ password }}<br/>
<br/>
<br/><br/>
Prisijungęs(-usi) prie <a href="{{ url('fos_user_security_login') }}">puslapio</a> aukščiau nurodytais duomenimis, galėsi peržiūrėti detalius mentorių aprašymus ir <strong>parašyti jiems asmeninį laišką!</strong>. Kviečiame nebijoti jau dabar rašyti mentoriams (tačiau, kita vertus, gerbti jų laiką klausiant vien prasmingų klausimų).<br/><br/>
Taip pat kviečiame prisijungti prie Facebook grupės ir dalyvauti bendrose diskusijose, dalintis mintimis su kitais moksleiviais ir mentoriais: <a href="https://www.facebook.com/groups/1424820664453637">https://www.facebook.com/groups/1424820664453637</a>
<br/><br/>
Jei kiltų klausimų, drąsiai rašyk mums
<a href="mailto:academic.buddy@gmail.com" target="_top">academic.buddy@gmail.com</a>
<br/><br/>
Sėkmės ir produktyvaus bendravimo!<br/>
Academic Buddy komanda
{% endblock %}
