{% block subject %}Academic Buddy: susipažinkite!{% endblock %}
{% block body_html %}
Sveiki,
<br /><br />
Dėkojame jums visiems už prisijungimą prie "Academic Buddy" projekto, o mentoriams - už išreikštą norą padėti Lietuvos moksleiviams stojant į Oksbridžą.
<br /><br />
Peržvelgėme visų moksleivių bei mentorių aprašymus, moksleivių mentorių pasirinkimus ir suskirstėme moksleivius bei mentorius į grupes. Mentoriau(-e) {{ mentor.name }} ir {% if pupils|length > 1 %} moksleiviai {% else %} moksleivi(-e) {% endif %}{{ pupils | join(', ') }}, susipažinkite - artimiausius kelis mėnesius, iki spalio 15-os UCAS pildymo galutinės datos, bendrausite kartu. Vieni kitų el. paštus rasite tarp šio laiško adresatų.
<br /><br />
Skatiname moksleivius pačius inicijuoti bendravimą. Neturime jokių patarimų ar pasiūlymų, kaip turėtumėte komunikuoti: bendravimo pobūdis priklauso nuo, visų pirma, mentoriaus(-ės), bei moksleivių galimybių. Tai gali būti bendravimas el. laiškais, reguliarūs ar ne Skype/Google Hangouts skambučiai ar gyvi susitikimai. Priklausomai nuo užimtumo ir aplinkybių, mentorius(-ė) gali bendrauti su visais moksleiviais vienu metu (pvz. bendruose Google Hangouts), arba su kiekvienu moksleiviu individualiai.
<br /><br />
{% if secondaryMentor %}
Moksleiviai, jūs taip pat turėsite ir antrąjį(-ą) mentorių(-ę) {{ secondaryMentor.name }} su el. paštu {{ secondaryMentor.email }}. Visų pirma iškilus klausimams kreipkitės į pagrindinį mentorių - šalutinį mentorių priskyrėme tiems atvejams, kai pagrindinis mentorius negalės atsakyti į jums svarbius klausimus arba kai jis bus pernelyg užimtas.
<br /><br />
{% endif %}
Iškilus bendro pobūdžio klausimams ar klausimams, į kuriuos mentorius(-ė) nebus pajėgus(-i) atsakyti, skatiname naudotis "Academic Buddy" Facebook grupe: <a href="https://www.facebook.com/groups/1581352808826963/">https://www.facebook.com/groups/1581352808826963/</a>, sukurta būtent tokiems atvejams. Kviečiame visus to dar nepadariusius prisijungti prie Facebook grupės.
<br /><br />
Jei iškils neaiškumų, turėsite klausimų ar nusiskundimų, rašykite <a href="mailto:academic.buddy@gmail.com">academic.buddy@gmail.com</a>. Pasistengsime atsakyti kaip galėsime greičiau.
<br /><br />
Turiningo bendravimo ir rezultatyvios mentorystės,<br />
"Academic Buddy" komanda
{% endblock %}
