{% block subject %}„Academic Buddy“ kviečia mentoriauti ir šiemet{% endblock %}
{% block body_html %}
Labas,
<br /><br />
Dėkojame Tau už mentoriavimą „Academic Buddy“ projekte.
<br /><br />
"Academic Buddy" toliau tęsia savo misiją padėti Lietuvos moksleiviams išpildyti savo akademinį potencialą. Tikėdamiesi, kad pernai metų mentoriavimo patirtis Tau buvo įdomi bei prasminga, norėtume pasiūlyti prie projekto prisijungti ir šiemet. Tą gali padaryti užsiregistruodama(-s) adresu <a href="http://www.academicbuddy.lt/register/mentor">http://www.academicbuddy.lt/register/mentor</a>.
<br /><br />
Kad būtų paprasčiau ir nereikėtų iš naujo rašyti savo aprašymo, pridedame ir Tavo praeitų metų anketos duomenis, jei pageidautum panaudoti juos dar kartą:
<br /><br />
{{ name }}
<br />
{{ about }}
<br /><br />
Tikimės, jog ir šiemet norėsi pasidalinti savo patirtimi ir padėti į Oksbridžą stojantiems moksleiviams.
<br /><br />
Sėkmės,<br />
„Academic Buddy“ komanda
{% endblock %}
