{% block subject %}Academic Buddy: tavo registracija sėkminga!{% endblock %}
{% block body_html %}
Sveikas(-a),
<br/><br/>
Dėkojame už registraciją! Artimiausiu metu peržvelgsime tavo aplikaciją, patvirtinsime registraciją ir patalpinsime tavo anketą į <a href="http://www.academicbuddy.lt">academicbuddy.lt</a> tinklalapį.
<br/><br/>
geriausi linkėjimai -
<br/>
Academic Buddy komanda
{% endblock %}
