Sveikas(-a),
<br/><br/>
Dėkojame už registraciją! Artimiausiu metu patvirtinsime registraciją ir patalpinsime tavo anketą į <a href="http://www.academicbrother.lt">academicbrother.lt</a> tinklalapį.
<br/><br/>
geriausi linkėjimai -
<br/>
Academic Brother komanda