#register_form_mentor input[type=text],
#register_form_mentor input[type=email],
#register_form_mentor select{
	width: 300px;
}

div.chosen-search input{
	width: 295px;
}

#register_form_mentor input[type=number]{
	width: 60px;
}


ul.courses{
	list-style: none;
	padding-left: 0px;
}

ul.courses .add_course_link {

}

ul.help-block {
	list-style: none;
	padding-left: 0px;
	color: red;
}

ul.courses .university-info {

}

.required:after {
    color: red;
    content: ' *';
}

 