.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.form-horizontal .form-group-sm .form-control {
  height: 31px;
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 0;
}
.form-horizontal .form-group-lg .form-control {
  height: 64px;
  padding: 18px 30px;
  font-size: 19px;
  line-height: 1.3333333;
  border-radius: 0;
}
.btn-group-lg > .btn {
  padding: 18px 30px;
  font-size: 19px;
  line-height: 1.3333333;
  border-radius: 0;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 0;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 0;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
body {
  padding-top: 0px !important;
  padding-bottom: 20px;
  background-color: #f4f4f4;
  /*width: 890px;*/
  margin: 0px auto;
}
body .content {
  padding: 40px 15px;
  max-width: 730px;
}
.navbar-brand {
  padding: 15px 15px 15px 25px;
}
.navbar-brand img {
  height: 30px;
}
.lang-flag {
  height: 17px;
}
.navbar {
  margin-bottom: 0px !important;
}
/* Registration forms */
.required:after {
  color: red;
  content: ' *';
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
.marketing {
  margin: 5px 0px !important;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #bbb;
}
.container-narrow > hr {
  margin: 30px 0;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.message-container {
  max-width: 330px;
  margin: 100px auto;
  padding-top: 5px;
}
.has-error .help-block {
  list-style: none;
  padding: 0;
  font-size: 80%;
}
.panel-shadow {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 15px 25px;
}
.header-info a {
  padding: 0 !important;
}
.header-info a .avatar {
  display: inline-block;
}
.header-info a .avatar img {
  height: 40px;
  margin: auto 3px;
}
.header-info a .name {
  display: inline-block;
}
/* Bootstrap fix */
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
legend {
  border-bottom: 1px solid #c0c0c0;
}
.org-logo {
  display: block;
  width: 80%;
}
#photo-block {
  margin: 10px;
}
a.slidesjs-previous {
  float: left;
}
a.slidesjs-next {
  float: right;
  margin-top: -2px;
  /* Weird offset */
}
.centered {
  text-align: center;
}
.text-block {
  margin-bottom: 2em;
}
ol.d {
  list-style-type: lower-alpha;
}
ol.c {
  list-style-type: upper-roman;
}
.main-banner {
  background-image: url("/bundles/ab/images/sky.jpg");
  background-size: cover;
  background-position: center;
}
#main-logo img {
  margin: 50px;
  width: 80%;
}
#short-descr {
  text-align: right;
}
#short-descr p {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin: 20px;
  font-size: 20pt;
  line-height: 1.1;
}
.reg-button {
  margin: 5px 0px 7px 0px;
  width: 240px;
}
